<%- include('cabecalho') %>
<main>
    <h2><%= servico.nome %></h2>
    <span><%= servico.duracao %></span>
    <span><%= servico.preco %></span>
    <p><%= servico.descricao %></p>
</main>
<%- include('rodape') %>